body,html{
    background-color: rgb(109, 34, 175);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100%;
}

.conteudo{
    text-align: justify;
    padding: 50px 80px;
    background-color: black;
    opacity: 0.9;
    border: 1px solid purple;
    color: white;
  
    
}

 a{
     text-align: center;
    font-size: large;
    background-color: blueviolet;
    padding: 1%;
    width: 15%;
    margin-left: 44%;
    box-shadow: 1px 4px 2px 1px  purple;
    color: aliceblue;
    text-decoration: none;
}

a:hover{
     background: rgb(36, 12, 114);
    color: rgb(255, 255, 255);
    transition: 1s;
    padding: 5px;
    border-radius: 10px;
    
}

.title-1{
    
    left: 10%;
    top: 30%;
    position: absolute;
    color: white;
    text-align: justify;
   
}


.title-2{
    
    left: 10%;
    top: 30%;
    position: absolute;
    color: white;
    text-align: justify;
}


.title-3{
    
    left: 10%;
    top: 30%;
    position: absolute;
    color: white;
    text-align: justify;
}

.title-1 p{
    text-align:justify;
    width: 50%;
     
}

.title-2 p{
    text-align:justify;
    width: 50%;
     
}

.title-3 p{
    text-align:justify;
    width: 50%;
     
}

h3{

    text-align: center;
    font-size: large;
    background-color: blueviolet;
    padding: 1%;
    width: 15%;
    margin-left: 40%;
    box-shadow: 1px 4px 2px 1px  purple;
}

h1{
    background-color: blueviolet;
    width: 20%;
    box-shadow: 1px 4px 2px 1px  purple;
}

.caixa-1, .caixa-2, .caixa-3{
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}


.caixa-1{
    background-image: url(imagens/Banner\ Site\ Black\ Friday\ moderno\ preto\ e\ rosa.jpg);
}

.caixa-2{
    background-image: url(imagens/Java-banner.png);
}

.caixa-3{
    background-image: url(imagens/JavaScript-banner.png);
}