body{
    background-color: rgb(152, 51, 224);
    font-family: Arial, Helvetica, sans-serif;

}

h2{
   background-color: blueviolet;
    width: 50%;
    margin: 0 auto;
    box-shadow: 1px 4px 2px 1px  purple;
    color: white;
    text-align: center;
   
}

.form{
   
    
}

#enviar{
    cursor: pointer;
}

#formulario p{
       background: rgb(36, 12, 114);
    color: white;
    text-align: justify;
    border-radius: 5px 10px 5px 10px;
    opacity: 0.5;
    padding: 10px;
}

#container{
    width: 85%;
    margin: 0 auto;
      background-color: rgb(255, 255, 255);
    opacity: 0.9;
    min-width: 1200px;
    max-width: 1000px;
    

}

#banner{
    width: 100%;
    height: 300px;
    background:  url(imagens/Banner\ Site\ Black\ Friday\ moderno\ preto\ e\ rosa\ \(1\).jpg)   center ;
    background-size: cover;
    text-align: center;
    line-height: 200px;
}

#navegacao{
    position: absolute;
    width: 85%;
    margin: 0 auto;
    
    

}

#navegacao ul{
  list-style: none;
    margin: 0;
    padding: 0;
    background: rgb(36, 12, 114);
    width: 1200px;
    float: left;
    
    
}

#navegacao ul li{
    float:left;
    margin-left: 100px;
    
}

#navegacao ul a{
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    line-height: 2.1em;
    margin-left: 20px;
    color: white;
    
    
}

#navegacao ul a:hover{
   color: rgb(255, 255, 255);
   transition: 1s;
   background-color: rgb(177, 4, 207);
     box-shadow: 1px 4px 2px 1px  purple;
    border-radius: 10px;
    padding: 5px;
    width: 130px;
}



#conteudo{
    width: 70%;
    float: right;
}

.conteudo-1{
    width: 63%;
    float: left;

}

.conteudo-1 h1{
    background-color: rgb(123, 27, 182);
    width: 70%;
    padding: 5px;
    margin: 0 auto;
    box-shadow: 1px 4px 2px 1px  purple;
    color: white;
}

.conteudo-1 p{
    text-align: justify;
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    color: rgb(0, 0, 0);
   
    

}

.Leia-mais{
     background: rgb(36, 12, 114);
    color: white;
    text-decoration: none;
    border-radius: 15px;
    width: 100px;
    height: 100px;
    
    padding: 5px;
}

.Leia-mais:hover{
    background-color: blueviolet;
    box-shadow: 1px 4px 2px 1px  purple;
    padding: 5px;
    transition: 1s;
    width: 150px;
    
}

.link_menu{
    background: rgb(36, 12, 114);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    padding: 10px;
}

.link_menu:hover{
    background-color: rgb(182, 138, 222);
    padding: 5px;
    transition: 1s;
    width: 150px;

    
}

.conteudo-2{
    width: 34%;
    float: right;
    
}

.conteudo-2 p{
       background: rgb(36, 12, 114);
    opacity: 0.5;
    border-radius: 5px 10px 5px 10px;
    color: white;
    text-align: justify;
    padding: 10px;
    margin-right: 12px;
    
}

.img-conteudo{
    width: 200px;
    margin: 40px;

}


#menu{
    width: 25%;
    padding: 20px 20px;
    float: left;
    background-color: rgb(255, 255, 255);
}

#menu ul{
    list-style:none;
}

#menu li{
    text-align: center;
    width: 200px;
    border
}

h4{
    text-align: center;
}









#rodape{
    clear: both;
    padding: 5px;
    
     background: rgb(36, 12, 114);
    color: white;
    text-align: center;
}
